<h1>Edit</h1>

<%= simple_form_for [@restaurant] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
  </div>
    <%= f.select :category, collection: Restaurant::TYPE %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Home", root_path %></p>
